
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  transition: 0.3s;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  right:0; 

}
header nav{
  width: 90%;
  margin: auto;
  height: 80%;
  display: flex;
  justify-content: space-between;
  
}
header nav .logo{
  color: #379cf4;
  font-size: 60px;
  font-weight: 1000;
  margin-top: 4px;

}

header nav .menu a{
  color: aliceblue;
  margin-left: 80px;
  font-size: 18px;
  position: relative;
  top: 30px;
  right: 68%;


}
header nav .menu a:hover{
  color: #379cf4;
}
header nav .sub{
  color: #fff;
  background-color: #379cf4;
  padding: 12px 35px;
  border-radius: 62px;
  position: absolute;
  left: 85%;
  top: 13%;
}


header nav .sub:hover{
  color: #379cf4;
  background-color: #fff;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url(tree.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero .contanier{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.hero .contanier .text{
  width: 60%;

}
.hero .contanier .text h4{
  color: #fff;
  font-size: 50px;
}
.hero .contanier .text span{
  color: #379cf4;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.3px;

}
.hero .contanier .text p{
  color:#dedede;
  width: 80%;
  margin: 20px 0 30px;
  line-height: 1.8;
}
.hero .contanier .text .sub{
  color: #fff;
  background-color: #379cf4;
  font-size: 18px;
  padding: 14px 35px;
  border-radius: 10px;
  text-transform: uppercase;
}
.hero .contanier .text .sub:hover{
  color: #379cf4;
  background-color: #fff;

}

.sign{
  width: 360px;
  height: 440px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.800);
  text-align: center;
  padding: 30px;

}

.sign h3{
  color: #fff;
  font-size: 25px;
  margin-bottom: 25px;


}
.sign form input{
  width: 100%;
  outline: none;
  padding: 12px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #379cf4;
  color: #fff;
  margin-bottom: 20px;


}
::placeholder{
  color: #fff;

}
.sign form button{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #379cf4;
  border: none;
  border-radius: 10px;
  padding: 12px 0;
  cursor: pointer;

}
.sign form .sign-with{
  margin: 20px 0 20px;
  color: #fff;
}
.sign form .icon-sign a i{
  color: #fff;
  font-size: 22px;
  margin-right: 20px;

}
.sign form .icon-sign a i:hover{

  color: #379cf4;
  transform: scale(1.3);
}
.sign form .account{
  color: #fff;
  margin: 40px 0 10px;

}
.sign form .sign-up{
  color: #fff;
}
.sign form .sign-up a{
  color: #379cf4;

}
.sign form .sign-up a:hover{
  text-decoration: underline;
}